<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Arch" version="1.2.7" manuallyInstalled="true" />
  <package id="Arch.LowLevel" version="1.0.8" />
  <package id="Arch.System" version="1.0.5" manuallyInstalled="true" />
  <package id="Collections.Pooled" version="2.0.0-preview.27" />
  <package id="CommunityToolkit.HighPerformance" version="7.1.2" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.0" />
  <package id="Microsoft.Extensions.ObjectPool" version="7.0.0" />
  <package id="R3" version="1.0.4" manuallyInstalled="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Threading.Channels" version="8.0.0" />
  <package id="ZeroAllocJobScheduler" version="1.0.2" />
</packages>